body{
  margin: 0;
  padding: 0;
  justify-content: center;
  margin: auto;
}

#root{
  margin-top: 100px;
  text-align: center;
}

.container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0px 10px 20px 20px rgba(0, 0, 0, 0.2);
}

.container {
  display: flex;
  justify-content: center;
}

.container li {
  float: left;
  margin: 0 30px;
}

.container li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.container li a:hover:not(.active) {
  background-color: black;
  color: white;
}


form{
  text-align: center;
}

form ul{
  list-style-type: none;
  padding: 0;
}

form label{
  display: inline-block;
  text-align: right;
  width: 150px;
}

form input{
  width: 300px;
  height: 30px;
  margin: 10px;
}

form button{
  height: 30px;
  width: 200px;
  margin: 10px;
}


.app ul{
  list-style: none;
}

.task{
  margin: auto;
  width: 1200px;
}

.tabletask {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}

.tabletask  td, .tabletask  th {
  border: 1px solid #ddd;
  padding: 8px;
}

.tabletask  tr:hover{
  background-color: #f2f2f2;
}

.tabletask  tr:hover {
  background-color: #ddd;
}

.tabletask td {
  text-align: center;
}

.tabletask  th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}

.update {
	background-color:#44c767;
	border-radius:15px;
	border: none;
	cursor:pointer;
	color:#ffffff;
	padding:10px 10px;
  width: 70px;
}
.update:hover {
	background-color:blue;
}
.update:active {
	position:relative;
	top:1px;
}

.delete {
	background-color:red;
	border-radius:15px;
	border: none;
	cursor:pointer;
	color:#ffffff;
	padding:10px 10px;
  width: 70px;
}
.delete:hover {
	background-color:orange;
}
.delete:active {
	position:relative;
	top:1px;
}

.selectCategory{
  width: 300px;
  margin: 10px;
}

.submit{
  background-color:dodgerblue;
  border: 0;
  border-radius: 20px;
  color: black;
  height: 40px;
  margin: 20px 0;
  font-weight: bold;
}

.submit:hover{
  background-color: blue;
  color: white;
}


.checklist {
	background-color:skyblue;
	border-radius:15px;
	border: none;
	cursor:pointer;
	color:#ffffff;
	padding:10px 10px;
  width: 100px;
}
.checklist:hover {
	background-color:violet;
}
.checklist:active {
	position:relative;
	top:1px;
}

header{
  display: flex;
  justify-content: space-between;
}

.bcreate{
  background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
  border: 0;
  border-radius: 15px;
  width: 75px;
  height: 40px;
  margin: auto 0;
  color: white;
  box-shadow: 3px 4px 0px 0px #1564ad;
}
.bcreate:hover{
  background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
  color: black;
}

.img_url{
  width: 100px;
  height: 100px;
}

.success{
  text-decoration: line-through;
}