
#root{
  min-height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1644329843491-99edfc83de04?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80);
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  color: hsl(198, 1%, 29%);
  text-align: center;
  margin: 0;
  padding-top: 100px;
  padding-bottom: 100px;
}

.containers {
  width: 1200px ;
  height: auto;
  background: #f1f5f8;
  background-image: radial-gradient(#bfc0c1 7.2%, transparent 0);
  background-size: 25px 25px;
  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px #00000040;
  padding: 1rem;
  box-sizing: border-box;
}

.containers td{
  background-color: white;
}

header{
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1{
  margin: 0;
  border-radius: 15px;
  padding: 5px 10px;
  background-color: rgb(210, 250, 240);
  box-shadow: 0px 0px 7px 7px rgba(0, 0, 0, 0.1);
  
}


.nav_bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0px 10px 20px 20px rgba(0, 0, 0, 0.2);
}

.nav_bar {
  display: flex;
  justify-content: center;
}

.nav_bar li {
  float: left;
  margin: 0 30px;
}

.nav_bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav_bar li a:hover:not(.active) {
  background-color: black;
  color: white;
}


.form{
  display: flex;
  width: fit-content;
  background-color: white;
  border-radius: 15px;
  margin: 0 auto 50px auto;
}
form h1{
  margin: 16px 0;
}

form ul{
  list-style-type: none;
  padding: 0;
}

form label{
  display: inline-block;
  text-align: right;
  width: 120px;
}

form input{
  width: 300px;
  height: 30px;
  margin: 10px;
}

form button{
  height: 30px;
  width: 200px;
  margin: 10px;
}


.app ul{
  list-style: none;
}


.tabletask {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
  border-radius: 15px;
}

.tabletask  td, .tabletask  th {
  border: 1px solid #ddd;
  padding: 8px;
}

.tabletask  tr:hover{
  background-color: #3f3f3f;
}

.tabletask td {
  text-align: center;
}


.tabletask  th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color:#4CAF50;
  color: white;
}

.update {
	background-color:#28c051;
	border-radius:15px;
	border: none;
	cursor:pointer;
	color:#ffffff;
	padding:10px 10px;
  width: 70px;
}
.update:hover {
	background-color: #05a01f;
}
.update:active {
	position:relative;
	top:1px;
}

.delete {
	background-color: red;
	border-radius:15px;
	border: none;
	cursor:pointer;
	color:#ffffff;
	padding:10px 10px;
  width: 70px;
}
.delete:hover {
	background-color:rgb(209, 16, 16);
}
.delete:active {
	position:relative;
	top:1px;
}

.selectCategory{
  width: 300px;
  margin: 10px;
}

.submit{
  background-color:dodgerblue;
  border: 0;
  border-radius: 20px;
  color: black;
  height: 40px;
  margin: 20px 0;
  font-weight: bold;
}

.submit:hover{
  background-color: blue;
  color: white;
}


.checklist {
	background-color:rgb(27, 165, 219);
	border-radius:15px;
	border: none;
	cursor:pointer;
	color:#ffffff;
	padding:10px 10px;
  width: 100px;
}
.checklist:hover {
	background-color: rgb(0, 117, 163);
}
.checklist:active {
	position:relative;
	top:1px;
}

header{
  display: flex;
  justify-content: space-between;
}

.bcreate{
  background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
  border: 0;
  border-radius: 15px;
  width: 75px;
  height: 40px;
  margin: auto 0;
  color: white;
  box-shadow: 3px 4px 0px 0px #1564ad;
  
}
.bcreate:hover{
  background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
  color: black;
}

.img_url{
  width: 100px;
  height: 100px;
}

